/index.html
/index.js
/publish.mjs
/dist
/src
/.vscode
/.idea
/.git
/.github
/.gitignore
/.npmignore
/.prettierignore
/.eslintignore
/.env
/.env.local
/.env.development
/.env.test
/.env.production
.DS_Store
*.log
*.tsbuildinfo
node_modules 
docs/